{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<form method="post">
    {% csrf_token %}
    
    <label for="codigo_combustible">Código de Combustible:</label><br>
    <select id="codigo_combustible" name="codigo_combustible" required>
        {% for codigo, label in registro.Combustible %}
        <option value="{{ codigo }}">{{ label }}</option>
        {% endfor %}
    </select><br><br>
    
    <label for="litros">Litros:</label><br>
    <input type="text" id="litros" name="litros" required><br><br>
    
    <button type="submit">Guardar</button>
</form>

{% endblock %}